.main-color {
  background: #3379FD;
}
.flex-row { /* 水平等比 */
  display: flex;
  flex-direction: row;
}
.flex-column { /* 垂直等比 */
  display: flex;
  flex-direction: column;
}
.ct { /* 水平、垂直居中 */
  align-items: center;
  justify-content: center;
}
.flex {
  flex: 1;
}
.bg-color {
  background: #f2f2f2;
}
.line {
  width: 100%;
  height: 1px;
  position: relative;
  background: #f2f2f2;
}
.m-t {
  margin-top: 7px;
}
.m-b {
  margin-bottom: 7px;
}
.m-l {
  margin-left: 7px;
}
.m-r {
  margin-right: 7px;
}
.m-bar {
  margin-top: 57px;
}
.txt-1 {
  /* 单行显示省略号 */
  max-lines: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.txt-2 {
  /* 多行显示省略号 */
  text-overflow: ellipsis;
  display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden;  /** 隐藏超出的内容 **/
}
.list-pr {
  position: relative;
  margin-bottom: 55px;
}
.ae-bottom {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: #f2f2f2 solid 1px;
  background: white;
}
.ae-bottom button {
  position: relative;
  margin-top: 10px;
  margin-left: 14px;
  margin-right: 14px;
  width: calc(100% - 14px * 2);
  height: 40px;
  background: #3379FD;
  border-radius: 5px;
  border-style: none;
  color: white;
  font-size: 14px;
}
